  .text {
    background: whitesmoke;
    color:#175977;
    text-align: center;
    font-family: Verdana;
    font-size: medium;
    
  }

  .menuIcon{
    background: whitesmoke;
    color:#175977;
    font-family: Verdana;
    
  }

  .choosedItem {
   
    font-size: xx-large != important;
    text-decoration: underline;
    font-weight: bold;
    font-style: oblique;
    
  }