<mat-card>
  <mat-card-header>
    <div  mat-card-avatar class="header-image header-action-credential-image"></div>
    <mat-card-title>{{this.router.url.split('/')[2]}}</mat-card-title>
    <mat-card-subtitle>{{comment}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>

    <span class="did">MyDID    : {{actions.MyDID}}</span><br>
    <span class="did">TheirDID : {{actions.TheirDID}}</span><br>
    <span class="did">PIID     : {{actions.PIID}}</span><br>

    <div >
    <span class="did">{{vc_schema_id}}</span><br>
    <span class="did"> {{vc_credential_schema_url}}</span> <br>
    </div>
  <!--  <textarea matInput appearance="outline" [(ngModel)]='actions.Msg.comment' name="KwctRuntimeComment"[disabled]=true > </textarea><br> -->
   </mat-card-content>
  
   <mat-card-actions>

    <div *ngIf="this.router.url === '/credentials/accept-offer'">

      <button mat-button class="btn" (click)="sendRequest(actions)">
        KWCT accept offer <br>
        (send request)
      </button>
      <button mat-button class="btn" (click)="acceptOffer(actions)">
        Accept offer
      </button>
      <button mat-button class="btn" (click)="declineCredential(actions.PIID)">No, thank you !</button>
    </div>
    <div *ngIf="this.router.url === '/credentials/accept-request'">
      <button mat-button class="btn" (click)="changeSubject()">
        Accept credential request
      </button>
      <button mat-button class="btn" (click)="declineCredential(actions.PIID)">No, thank you !</button>
      <button mat-button class="btn" (click)="addComment()">
        Comment credential
      </button>
    </div>
    <div *ngIf="this.router.url === '/credentials/accept-credential'">
      <button mat-button class="btn" (click)="acceptCredential(actions)">
        Accept credential
      </button>
      <button mat-button class="btn" (click)="declineCredential(actions.PIID)">discard</button>
    </div>
  </mat-card-actions>
 </mat-card>


