mat-card-content {
 align-content: center;
 align-items: center;
}

/* Overwrite the styles of the mat-dialog-container element globally, but only for those
that have an id of `modal-component` */
/* https://stackoverflow.com/a/48689004/9263761 */
mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #1a1a1a;
}


mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height:100%;
}

mat-card-title{
  color:black;
  font-size:small;
}

.header-image {

  background-size: contain;  

}

.header-action-credential-image {

  background-image: url('../../../../../assets/icons/w3c.png');

 
}

.did {

  font-family: 'Verdana';
  font-size: xx-small !important;
    word-wrap: break-word;
  word-break: break-all;
}