<div fxLayout fxLayoutAlign="center">
    <ul fxLayout fxLayoutGap="50px" class="navigation-items">
        <li><a class="nav-item nav-link" routerLink="credentials" routerLinkActive="credential"
                [routerLinkActiveOptions]="{ exact: true }">My Credentials</a></li>
        <li><a class="nav-item nav-link" routerLink="send-offer" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Send Offer</a></li>
        <li><a class="nav-item nav-link" routerLink="accept-offer" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Accept Offers</a></li>
        <li><a class="nav-item nav-link" routerLink="accept-request" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">Requests</a></li>
        <li><a class="nav-item nav-link" routerLink="accept-credential" routerLinkActive="invited"
                [routerLinkActiveOptions]="{ exact: true }">Save in wallet</a></li>
    </ul>
</div>
<mat-divider></mat-divider>
<router-outlet></router-outlet>
