<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <div  mat-card-avatar class="header-image header-action-credential-image"></div>
    <mat-card-title>"Verifiable Credential"</mat-card-title>
    <mat-card-subtitle>{{credential?.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      <br>
      <span class="did">Issuer{{credential?.issuer}}</span><br>
      <span class="did">Issuance Date:{{credential?.issuanceDate}}</span><br>
      <span class="subject">Subject:{{credential?.credentialSubject | json}}</span>s<br>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="btn" (click)="getDetail()">
      VC detail
    </button>
  </mat-card-actions>
</mat-card>